* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px auto;
    max-width: 500px;
    padding: 10px;
    background-color: rgb(145, 143, 143);
}

.title {
    text-align: center;
    margin: 5px auto 10px;
}

.show-bar {
    background-color: blue;
    width: 50px;
}

.show-profit {
    background-color: green;
    width: 50px;
}

.show-interest {
    background-color: red;
    width: 50px;
}

.diagram {
    margin: 20px auto;
    background-color: aqua;
    max-width: 500px;
    padding: 5px;
}

.diagram th {
    padding: 0 20px;
    background-color: gray;
}

.diagram td {
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
}

.diagram div {
    margin: auto;
}

#reset {
    width: 60px;
    border-radius: 5px;
    padding: 10px auto;
    font-size: 0.8rem;
    text-transform: uppercase;
}

#my-link {
    position: absolute;
    top: 10px;
    right: 20px;
}